<a href="https://colab.research.google.com/github/gretagh93/ML-Crash-Course-Google/blob/main/Numpy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy and Pandas

Reference: https://www.kaggle.com/code/residentmario/indexing-selecting-assigning

## Create an array

In [1]:
# Numpy Library
import numpy as np 

# Create a sequence of integers from 6 to 20 (inclusive)
seq_int = np.arange(6, 21)

# Operations with arrays
seq_int_op = 6 * seq_int + 2

# Create a random sequence of float values of the same length of seq.
seq_float_rand = np.random.random([seq_int.size])

# Operate the two arays
seq_sum = seq_int_op + seq_float_rand

print(seq_sum)

[ 38.79358159  44.76299723  50.47805807  56.8642485   62.20515765
  68.96308092  74.09158421  80.21947026  86.47755833  92.36016095
  98.31322828 104.39258582 110.22698498 116.78529713 122.94097771]

## Create a dataframe

In [5]:
import pandas as pd

# Create the names of the features
col_names = ['Round1', 'Round2', 'Round3']

# Create a matrix 4x3 with random integers.
data = np.random.randint(low=0, high=10, size=(4, 3))

# Create a DataFrame.
df = pd.DataFrame(data=data, columns=col_names)

print(df)

   Round1  Round2  Round3
0       6       2       6
1       8       5       1
2       2       9       7
3       4       8       3

## References

In [13]:
# Without pandas

# Select the names of the features
print(df.columns)

# Select a column
print(df.Round1)
# df["Round1"]

# Select a value using a column and a row
print(df["Round1"][0])

Index(['Round1', 'Round2', 'Round3'], dtype='object')
0    6
1    8
2    2
3    4
Name: Round1, dtype: int64
6

In [23]:
# Using pandas

# Select a column
print(df.iloc[:, 0])
df.loc[0, 'Round1']

# Select a row
print(df.iloc[1])
print(df.iloc[-1])

# Select values using columns and rows
df.iloc[[0, 2], 1]
df.loc[:, ["Round2", "Round3"]]

0    6
1    8
2    2
3    4
Name: Round1, dtype: int64
Round1    8
Round2    5
Round3    1
Name: 1, dtype: int64
Round1    4
Round2    8
Round3    3
Name: 3, dtype: int64

   Round2  Round3
0       2       6
1       5       1
2       9       7
3       8       3

In [29]:
# Conditionals

print(df.Round1 == 2)

print(df.loc[df.Round1 == 2])

print(df.loc[df.Round1.isin([2, 6])])

print(df.loc[df.Round1.isnull()])

0    False
1    False
2     True
3    False
Name: Round1, dtype: bool
   Round1  Round2  Round3
2       2       9       7
   Round1  Round2  Round3
0       6       2       6
2       2       9       7
Empty DataFrame
Columns: [Round1, Round2, Round3]
Index: []